<br><br><br>  
<div class="container">
            <div ng-controller='secondController'>
                <div style="width: 50%" class="col-md-6">
                    <p style="color: red" class="col-md-6">Location of Call</p>
                    <br><br>
            <li ng-repeat="x in callPlacement track by $index">    
            <div >{{x}}</div>
                </li>
                </div>
                <div class="col-md-6">
                <p style="color: red" class="col-md-6 flow right">Reason for Call</p>
                <p style="color: red" class="col-md-6 flow right">(Blank if Reason Not Given)</p>
                    <br><br>
                <li ng-repeat="y in reason track by $index" class="col-md-6 flow right">
            <div>{{y}}</div>
              </li>
                    </div>
            
                </div>
		</div>
